# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
Language: Cpp
BasedOnStyle: WebKit
AllowShortCaseLabelsOnASingleLine: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentCaseLabels: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: false
SpacesBeforeTrailingComments: 2
TabWidth: 4
UseTab: Never
...
