# https://git-scm.com/docs/gitattributes

# Text file line endings
* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf

*.cmake text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yml text eol=lf

.clang-format text eol=lf
.clang-tidy text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

CMakeLists.txt text eol=lf
LICENSE text eol=lf
